<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
        <mat-form-field appearance="fill">
            <mat-label>Comida</mat-label>
            <mat-select formControlName="food">
                <mat-option value="DESAYUNO">DESAYUNO</mat-option>
                <mat-option value="ALMUERZO">ALMUERZO</mat-option>
                <mat-option value="CENA">CENA</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="d-flex">
            <span class="spacer"></span>
            <div class="py-3">
                <button type="button" [disabled]="isLoading" mat-raised-button routerLink="/turns"
                    color="primary">CANCELAR</button>
                <span class="divider"></span>
                <button type="submit" [disabled]="isLoading" mat-flat-button color="primary">GUARDAR</button>
            </div>
        </div>
    </form>
</div>