<mat-action-list>
    <button mat-list-item routerLink="/">
        <mat-icon matListItemIcon>desktop_windows</mat-icon>
        <div matListItemTitle>Tickets</div>
    </button>
    <button mat-list-item routerLink="/changeTickets">
        <mat-icon matListItemIcon>sync</mat-icon>
        <div matListItemTitle>Canjear ticket</div>
    </button>
    <button mat-list-item routerLink="/businesses">
        <mat-icon matListItemIcon>store</mat-icon>
        <div matListItemTitle>Empresas</div>
    </button>
    <button mat-list-item routerLink="/customers">
        <mat-icon matListItemIcon>group</mat-icon>
        <div matListItemTitle>Clientes</div>
    </button>
    <button mat-list-item routerLink="/turns">
        <mat-icon matListItemIcon>play_circle</mat-icon>
        <div matListItemTitle>Turnos</div>
    </button>
    <button mat-list-item routerLink="/reports">
        <mat-icon matListItemIcon>equalizer</mat-icon>
        <div matListItemTitle>Reportes</div>
    </button>
    <button mat-list-item routerLink="/customers/importCustomers">
        <mat-icon matListItemIcon>upload</mat-icon>
        <div matListItemTitle>Registro masivo</div>
    </button>
</mat-action-list>